* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: DM Serif Display;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.special {
  font-family: "DM Serif Display", serif;
  font-family: "Jost", sans-serif;
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 677px);
  padding-right: calc(50% - 677px);
}

.button {
  background-color: black;
  color: white;
  padding: 20px 48px;
  border-radius: 16px;
  border: solid 1px black;
}

.buttonRound {
  width: 54px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 53px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__head {
  color: #292f36;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin-right: 10px;
}
.header .menu {
  display: flex;
  gap: 10px;
}
.header .menu__header {
  color: #292f36;
  text-align: center;
  font-size: 20px;
  font-style: normal;
}

.top {
  position: relative;
}
.top__item {
  position: absolute;
  top: 265px;
  left: 142px;
}
.top__img {
  width: 1353px;
  flex-shrink: 0;
  border-radius: 35px;
}
.top__header {
  color: #292f36;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 18px;
}
.top__text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 21px;
}

.prodjests {
  padding-top: 70px;
  padding-bottom: 101px;
}
.prodjests__heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.prodjests__head {
  color: #292f36;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}
.prodjests__text {
  color: #4d5053;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
  max-width: 776px;
  margin-bottom: 94px;
}
.prodjests .prodjects__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 104px;
}
.prodjests .prodjects__box .prodjects__title {
  padding-top: 24px;
  color: #292f36;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.prodjests .prodjects__box .prodjects__subtitle {
  color: #4d5053;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.prodjests .prodjects__box .prodjects__content {
  position: relative;
}
.prodjests .prodjects__box .prodjects__content .prodject__imgSvg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.counter {
  background-color: #f4f0ec;
  display: flex;
  flex-direction: row;
  gap: 108px;
  justify-content: center;
  padding: 151px 151px;
}
.counter__title {
  color: #cda274;
  font-size: 85px;
  font-weight: 400;
  letter-spacing: 1.7px;
}
.counter__subtitle {
  color: #4d5053;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.counter__stick {
  background: #cda274;
  width: 1px;
  height: 175px;
}

.article {
  padding: 96px 96px;
}
.article__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}
.article__box .article__contents {
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.article__box .article__contents .article__title {
  padding-top: 22px;
  padding-bottom: 44px;
  max-width: 305px;
  color: #292f36;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.article__box .article__contents .article__subtitle {
  color: #4d5053;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.article__box .article__contents .article__content {
  position: relative;
}
.article__box .article__contents .article__content .article__imgSvg {
  width: 52px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.bannerIntro {
  position: relative;
}
.bannerIntro .banner {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 34%;
  flex-direction: column;
  align-items: center;
  border-radius: 37px 37px 0px 0px;
  background: #fff;
  padding: 41px 78px;
}
.bannerIntro .banner__title {
  color: #292f36;
  font-size: 50px;
}
.bannerIntro .banner__subtitle {
  color: #4d5053;
  font-size: 22px;
  letter-spacing: 0.22px;
}

.latestPost {
  padding-top: 200px;
  padding-bottom: 156px;
}
.latestPost__header {
  color: #292f36;
  font-size: 50px;
  letter-spacing: 1px;
  padding-bottom: 22px;
}
.latestPost .post {
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 65px;
}
.latestPost .post__right {
  max-width: 446px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.latestPost .post__right .post__button {
  position: absolute;
  right: 0;
  bottom: 34px;
}
.latestPost .post__title {
  color: #292f36;
  font-size: 25px;
  letter-spacing: 0.5px;
}
.latestPost .post__text {
  padding-top: 22px;
  padding-bottom: 50px;
  color: #4d5053;
  font-size: 22px;
  letter-spacing: 0.22px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 134px;
}
.footer .interno__text {
  padding-bottom: 31px;
  padding-top: 18px;
  max-width: 393px;
  color: #4d5053;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.footer .interno-social {
  padding-right: 54px;
}
.footer .pages__header {
  color: #292f36;
  font-size: 25px;
  font-weight: 400;
}
.footer .pages__menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 22px;
}
.footer .pages__head {
  color: #4d5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.footer .contact_header {
  color: #292f36;
  font-size: 25px;
}
.footer .contact__head {
  max-width: 258px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 22px;
}
.footer .contact__text {
  color: #4d5053;
  font-size: 22px;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=style.css.map */